.header {
  height: 650px;
  border-bottom-left-radius: 50% 90px;
  border-bottom-right-radius: 50% 90px;
  overflow: hidden;
  &__inner {
    height: inherit;
  }
  &__top {
    padding-top: 17px;
    height: 79px;
    background-color: transparent;
    transition: background-color 0.4s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    &-wrapper {
      display: flex;
      align-items: center;
    }
    &.sticky {
      background-color: $orange--10;
    }
  }
  &-logo {
    width: 188px;
    &__link {
      display: block;
    }
  }
  &-nav {
    width: calc(100% - 188px - 160px);
    padding-left: 60px;
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      font-weight: bold;
      line-height: 22px;
    }
    &__link {
      color: $black;
    }
  }
  &-language {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    position: relative;
    &__popup {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 81px;
      height: 36px;
      border: 2px solid $black;
      filter: drop-shadow(0px 12px 24px rgba(96, 90, 196, 0.15));
      border-radius: 50px;
      cursor: pointer;
      &.active {
        .header-language__arrow {
          transform: rotate(0deg);
        }
      }
    }
    &__arrow {
      width: 15px;
      height: 9px;
      margin: 0 0 5px 4px;
      transform: rotate(180deg);
      background: url("../../images/header/arrow.svg") no-repeat center center /
        cover;
    }
    .menu-language {
      &.active {
        display: block;
      }
      display: none;
      position: absolute;
      top: 53px;
      width: 160px;
      height: 141px;
      background-color: $white;
      box-shadow: 0px 12px 24px rgba(96, 90, 196, 0.15);
      border-radius: 9px;
      z-index: 999;
      &__list {
        text-align: end;
        overflow: hidden;
        padding: 14px 0;
      }
      &__link {
        display: block;
        cursor: url("../../images/cursor.png"), auto;
        color: $black;
      }
      &__item {
        padding: 6px 32px 6px 0;
        font-weight: normal;
        &:hover {
          background-color: $white--hover;
        }
      }
    }
  }
  &__bottom {
    max-width: 1000px;
    margin-top: 154px;
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    padding-top: 100px;
    max-width: 550px;
  }
  &__buttons {
    max-width: 380px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  .appstore__image,
  .google__image {
    width: 180px;
    height: 52px;
  }
  .appstore__image {
    background: url("../../images/header/appstore.png") no-repeat center center /
      cover;
  }
  .google__image {
    background: url("../../images/header/google.png") no-repeat center center /
      cover;
  }
  &__title {
    font-size: 44px;
    line-height: 52px;
  }
  &__text {
    margin-top: 45px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
  }
  .phone-header {
    height: 520px;
    position: relative;
    &__mark {
      position: absolute;

      &:nth-child(1) {
        top: 106px;
        right: 168px;
        animation: move1 forwards 10s infinite;
        animation-delay: 3s;
        animation-timing-function: linear;
      }
      &:nth-child(2) {
        top: 240px;
        right: 88px;
        animation: move2 forwards 10s infinite;
        animation-delay: 3s;
        animation-timing-function: linear;
      }
      &:nth-child(3) {
        top: 77px;
        right: 13px;
        animation: move3 forwards 10s infinite;
        animation-delay: 3s;
        animation-timing-function: linear;
      }
      &:nth-child(4) {
        right: 0;
        top: 233px;
        animation: move4 forwards 10s infinite;
        animation-delay: 3s;
        animation-timing-function: linear;
      }
      @keyframes move1 {
        0% {
          top: 106px;
          right: 168px;
        }
        10% {
          top: 50px;
          right: 50px;
        }
        20% {
          top: 50px;
          right: 50px;
        }
        30% {
          top: 50px;
          right: 50px;
        }
        40% {
          top: 50px;
          right: 50px;
        }
        50% {
          top: 50px;
          right: 200px;
        }
        90% {
          top: 50px;
          right: 200px;
        }
        100% {
          top: 106px;
          right: 168px;
        }
      }
      @keyframes move2 {
        0% {
          top: 200px;
          right: 88px;
        }
        10% {
          top: 76px;
          right: 180px;
        }
        20% {
          top: 76px;
          right: 180px;
        }
        30% {
          top: 76px;
          right: 180px;
        }
        40% {
          top: 76px;
          right: 180px;
        }
        50% {
          top: 50px;
          right: 50px;
        }
        90% {
          top: 50px;
          right: 50px;
        }
        100% {
          top: 200px;
          right: 88px;
        }
      }
      @keyframes move3 {
        0% {
          top: 77px;
          right: 13px;
        }
        10% {
          top: 195px;
          right: 13px;
        }
        20% {
          top: 195px;
          right: 13px;
        }
        30% {
          top: 195px;
          right: 13px;
        }
        40% {
          top: 195px;
          right: 13px;
        }
        50% {
          top: 180px;
          right: 150px;
        }
        90% {
          top: 180px;
          right: 150px;
        }
        100% {
          top: 77px;
          right: 13px;
        }
      }
      @keyframes move4 {
        0% {
          right: 0;
          top: 233px;
        }
        10% {
          right: 150px;
          top: 200px;
        }
        20% {
          right: 150px;
          top: 200px;
        }
        30% {
          right: 150px;
          top: 200px;
        }
        40% {
          right: 150px;
          top: 200px;
        }
        50% {
          top: 50%;
          right: 150px;
        }
        90% {
          top: 50%;
          right: 150px;
        }
        100% {
          right: 0;
          top: 233px;
        }
      }
    }
  }
}
