.partners {
  padding: 72px 0 280px 0;
  background-color: $white;
  &__heading {
    text-align: center;
  }
  &__title {
    font-size: 36px;
    line-height: 43px;
  }
  &__item {
    max-width: 263px;
    margin-left: 80px;
  }
  &__slider {
    margin-top: 102px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
    li {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $purple;
    }
    li + li {
      margin-left: 15px;
    }
    .slick-active {
      width: 12px;
      height: 12px;
    }
  }
  .slick-dots li button {
    text-indent: -9999px;
    overflow: hidden;
    border: none;

    padding: 0;
  }
}
