.team {
  padding: 81px 0 269px 0;
  position: relative;
  z-index: 1;
  &__heading {
    text-align: center;
  }
  &__body {
    margin-top: 60px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    display: flex;
    & + .team__item {
      margin-top: 100px;
    }
    &:nth-child(odd) {
      .team__right {
        margin-left: 30px;
      }
    }
    &:nth-child(even) {
      .team {
        &__left {
          margin-right: 65px;
          order: 2;
        }
        &__right {
          margin-right: 30px;
        }
      }
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 190px;
  }
  &__photo {
    border-radius: 50%;
    border-bottom-left-radius: 0%;
  }
  &__status {
    margin-top: 20px;
  }
  &__fio {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }
  &__position {
    font-size: 14px;
    line-height: 20px;
    color: $grey--text;
  }
  &__right {
    box-shadow: 0px 12px 20px rgba(96, 90, 196, 0.15);
    border-radius: 6px 18px 18px 18px;
    background-color: $white;
    padding: 35px 29px 31px 35px;
    max-width: 825px;
    height: 100%;
  }
  &__text + .team__text {
    margin-top: 17px;
  }
  &::after,
  &::before {
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
  }
  &::after {
    background: url("../../images/team/abstract1.png") no-repeat center center;
    width: 500px;
    height: 511px;
    top: 685px;
    right: -85px;
  }
  &::before {
    background: url("../../images/team/abstract3.png") no-repeat center center;
    width: 500px;
    height: 627px;
    top: 1401px;
    left: -205px;
  }
}
