@media (prefers-color-scheme: dark) {
  .how {
    background: url("../../images/how/pattern.png") no-repeat center center /
      cover;
    position: relative;
    &__inner {
      padding: 60px 0 100px 0;
    }
    &__heading {
      text-align: center;
    }
    &__title {
      color: $white;
    }
    .registration-how {
      margin-top: 70px;
      background: url("../../images/how/bg.png") no-repeat 50% 7%;
      &__heading {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
      }
  
      &__title {
        color: $white;
      }
    }
    .body-how {
      display: flex;
      flex-direction: column;
      max-width: 964px;
      margin: 0 auto;
      .top-how {
        display: flex;
        justify-content: space-between;
        &__buy,
        &__sell {
          width: 296px;
          min-height: 628px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
        &__phone {
          margin-top: 40px;
        }
        &__list {
          margin-top: 20px;
        }
        &__item {
          padding: 15px;
          background-color: $white;
          box-shadow: 0px 12px 24px rgba(96, 90, 196, 0.15);
          border-radius: 12px;
          transition: 0.3s padding 0s;
          margin-top: 18px;
          &:hover {
            filter: drop-shadow(0px 8px 16px rgba(72, 66, 163, 0.35));
            cursor: url("../../images/cursor.png"), auto;
          }
        }
        &__popup {
          &.active{
            display: block;
          }
          display: none;
          position: absolute;
          background: rgba(0, 0, 0, 0.7);
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          z-index: 99999999999;
        }
        &__phone-popup {
          width: 404px;
          height: 749px;
          background-color: white;
          border-radius: 24px;
          margin: 0 auto;
          // position: absolute;
          position: fixed;
          top: calc(50% - 374px);
          left: calc(50% - 202px);
          padding: 18px 21px 63px 23px;
          .phone {
            position: relative;
            &-close {
              position: absolute;
              cursor: pointer;
              content: "";
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 90px;
              height: 18px;
              top: -40px;
              right: 0;
              &__text {
                font-size: 16px;
                line-height: 18px;
                color: $white;
              }
              &__button {
                width: 15px;
                height: 15px;
                position: relative;
              }
              &__line {
                width: 21.14px;
                height: 1.5px;
                position: absolute;
                background-color: $white;
                top: calc(50% - .7px);
                &:nth-child(1){
                  transform: rotate(45deg);
                }
                &:nth-child(2){
                  transform: rotate(-45deg);
                }
              }
            }
            &-lines {
              width: 68px;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              &__circle {
                width: 9px;
              }
              &__line {
                width: 51px;
              }
              &__circle,
              &__line {
                height: 9px;
                border-radius: 12px;
                background: rgba(126, 119, 241, 0.5);
              }
            }
            &-popup {
              &__image {
                margin: 17px auto 0 auto;
              }
            }
            &__title{
              display: block;
              text-align: center;
              margin-top: 19px;
            }
          }
        }
        &__title {
          color: $white;
          text-align: center;
        }
        &__text {
          margin-top: 5px;
          font-size: 14px;
          line-height: 18px;
        }
        &__image {
          margin: 0 auto;
        }
      }
      .bottom-how {
        max-width: 296px;
        margin: 0 auto;
        &__wrapper {
          text-align: center;
        }
        &__item {
          padding: 15px;
          background-color: $white;
          box-shadow: 0px 12px 24px rgba(96, 90, 196, 0.15);
          border-radius: 12px;
          transition: 0.3s padding 0s;
  
          display: flex;
          flex-direction: column;
          align-items: center;
          &:last-child {
            margin-top: 30px;
          }
          &:hover {
            filter: drop-shadow(0px 8px 16px rgba(72, 66, 163, 0.35));
            cursor: url("../../images/cursor.png"), auto;
          }
        }
        &__title {
          color: $white;
          text-align: center;
        }
        &__text {
          margin-top: 5px;
          font-size: 14px;
          line-height: 18px;
        }
        &__image {
          margin: 0 auto;
        }
        .social-how {
          display: flex;
          width: 100%;
          justify-content: space-between;
          background: rgba(55, 71, 79, 0.1);
          border-radius: 9px;
          padding: 16px;
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__title {
        color: $white;
      }
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      left: -18px;
      bottom: -372px;
      width: 487px;
      height: 492px;
      background: url("../../images/how/dots.png");
    }
  }
  
}

@media screen and (max-width: 1650px) and (prefers-color-scheme: dark) {
  .features {
    &::after {
      display: none;
    }
  }
  .how {
    &::after {
      display: none;
    }
  }
}
@media screen and (min-width: 861px) and (prefers-color-scheme: dark) and (max-width: 960px) {
  .header {
    &__phone {
      margin-top: 10%;
    }
  }

  .footer {
    &__left {
      max-width: 73%;
    }
    &__wrapper {
      max-width: 400px;
    }
  }
}
@media screen and (min-width: 860px) and (prefers-color-scheme: dark) {
  .footer {
    &__body {
      height: 158px;
    }
  }
}
@media screen and (max-width: 860px) and (prefers-color-scheme: dark) {
  .header {
    border-radius: 0%;
    background: linear-gradient(
        180deg,
        #ffb341 -41.15%,
        #fdc643 16.04%,
        #fbd745 67.51%
      ),
      #fbd745 !important;
    height: 750px;
    &__inner {
      padding: 0;
    }
    &__top {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;
      padding: 17px 10px;
      &-wrapper {
        justify-content: space-between;
      }
    }
    #header-menu {
      display: block;
    }
    .header-nav {
      padding-left: 0;
      &.active {
        display: block;
        position: absolute;
        top: 0;
        .header-nav {
          &__list {
            position: fixed;
            left: 0;
            z-index: 99;
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 242px;
            background-color: #ffb341;
            top: 78px;
            padding: 30px 0;
          }
          &__item {
            text-align: center;
          }
        }
      }
    }
    &__top {
      justify-content: space-between;
      background-color: $orange--header;
    }
    &-logo {
      width: 130px;
    }
    &-nav {
      display: none;
    }
    &-language {
      width: 60px;
      &__popup {
        border: none;
      }
    }
    &__bottom {
      flex-direction: column;
      margin-top: 120px;
    }
    &__appstore {
      order: 2;
    }
    &__google {
      order: 1;
    }
    &__heading {
      padding-top: 0;
      text-align: center;
      margin: 0 auto;
    }
    &__buttons {
      max-width: 263px;
      margin: 30px auto 0 auto;
    }
    &__title {
      font-size: 30px;
      line-height: 34px;
    }
    &__text {
      font-size: 18px;
      line-height: 22px;
    }
    .phone-header {
      margin: 27px auto 0 auto;
      &__img {
        margin: 0 auto;
      }
      &__mark {
        width: 20%;
      }
      .phone__wrapper {
        &::after {
          height: 100%;
          background: linear-gradient(
            0deg,
            #ffb341 -10.87%,
            rgba(254, 218, 70, 0) 51.88%
          );
        }
      }
    }
    .appstore__image {
      background: url("../../images/header/appstore-mobile.png") no-repeat
        center center / cover;
      width: 120px;
      height: 40px;
    }
    .google__image {
      background: url("../../images/header/google-mobile.png") no-repeat center
        center / cover;
      width: 135px;
      height: 40px;
    }
  }
  .features {
    &__inner {
      padding: 25px 0 58px 0;
    }
    &__heading {
      max-width: 240px;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__body {
      margin-top: 28px;
    }
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 280px));
    }
    &__item {
      align-items: center;
    }
    &__text {
      margin-left: 15px;
    }
    &::after {
      display: none;
    }
  }
  .how {
    &::after {
      display: none;
    }
    &__inner {
      padding: 37px 0 40px 0;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__registration {
      margin-top: 36px;
    }
    .registration-how {
      background-position-y: 2%;
      margin-top: 25px;
    }
    .body-how {
      .top-how {
        flex-direction: column;
        align-items: center;
        &__buy {
          order: 2;
        }
        &__phone {
          order: 1;
          margin-top: 20px;
          &-popup {
            width: 230px;
            height: auto;
            padding: 11.4px 14.3px 10px 14.3px;
            top: calc(50% - 211px);
            left: calc(50% - 115px);
            .phone-popup__image {
              margin-top: 11px;
            }
          }
        }
        .phone__title {
          margin-top: 6px;
          font-size: 12px;
          line-height: 18px;
        }
        &__sell {
          order: 3;
        }
        &__buy,
        &__sell {
          min-height: auto;
          margin-top: 25px;
        }
      }

      .bottom-how {
        margin-top: 25px;
      }
    }
  }

  .subscribe {
    padding: 34px 0 40px 0;

    &__participation {
      max-width: 280px;
      margin: 0 auto;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &-notification {
      width: 100%;
      padding: 12px 11px 21px 11px;
      align-items: flex-start;
      &__icon {
        width: 48px;
      }
      &__text {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__text {
      display: none;
    }
    &__list {
      // grid-gap: 0;
      justify-content: center;
    }
    &__item {
      padding: 31px;
      background-color: $white;
      box-shadow: none;
      &:nth-child(3) {
        color: $white;
      }
    }
    &-item {
      &__list {
        padding-left: 10px !important;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 28px;
      li {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $purple;
      }
      li + li {
        margin-left: 15px;
      }
      .slick-active {
        width: 12px;
        height: 12px;
      }
    }
    .slick-dots li button {
      text-indent: -9999px;
      overflow: hidden;
      border: none;

      padding: 0;
    }
  }
  .partners {
    padding: 39px 10px 65px 10px;
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__item {
      margin-left: 0;
      padding: 0 15px;
    }
    &__slider {
      margin-top: 70px;
    }
    .slick-slider {
      width: calc(100% - 20px);
      margin: 0 auto;
    }
    .slick-dots {
      margin-top: 40px;
    }
  }
  .footer {
    position: static;
    border-radius: 0%;
    width: auto;
    text-align: center;
    padding: 40px 0 33px 0;
    &__body,
    &__left,
    &__wrapper {
      flex-direction: column;
    }
    &__wrapper {
      margin-top: 55px;
    }
    &__rules {
      margin-top: 30px;
    }
    &__right {
      margin-top: 60px;
    }
    &-language {
      &__popup {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
@media screen and (max-width: 500px) and (prefers-color-scheme: dark) {
  .header {
    height: 700px;
  }
  .partners {
    &__item {
      max-width: 100%;
    }
    &__logo {
      width: 100%;
    }
  }
}
@media screen and (max-width: 375px) and (prefers-color-scheme: dark) {
  .header {
    .phone-header {
      padding: 0 15px;
    }
  }
  .partners {
    &__item {
      max-width: calc(100% - 40px);
    }
  }
}

// team

@media screen and (max-width: 1300px) and (prefers-color-scheme: dark) {
  .header {
    &::after {
      display: none !important;
    }
  }
  .team {
    &::before,
    &::after {
      display: none !important;
    }
  }
}
@media screen and (max-width: 860px) and (prefers-color-scheme: dark) {
  .header {
    &__inner {
      // position: fixed;
      width: 100%;
      z-index: 999;
    }
  }
  .team {
    &__left {
      flex-direction: row;
    }
    &__right {
      margin-top: 14px;
    }
    &__item {
      flex-direction: column;
      &:nth-child(odd) {
        align-items: flex-start;
        .team {
          &__right {
            margin-left: 0;
          }
        }
      }
      &:nth-child(even) {
        .team {
          &__left {
            order: 0;
            margin-right: 0;
            justify-content: flex-end;
          }
          &__right {
            margin-right: 0;
          }
          &__photo {
            order: 1;
          }
          &__status {
            align-items: flex-end;
            text-align: end;
          }
        }
      }
    }
    &__status {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 15px;
    }
  }
}
@media screen and (max-width: 400px) and (prefers-color-scheme: dark) {
  .team {
    padding-top: 28px;
    padding-bottom: 65px;
    &__photo {
      width: 95px;
    }
    &__status {
      font-size: 16px;
      line-height: 24px;
    }
    &__about {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
