@media screen and (max-width: 1650px) {
  .features {
    &::after {
      display: none;
    }
  }
  .how {
    &::after {
      display: none;
    }
  }
}
@media screen and (min-width: 861px) and (max-width: 960px) {
  .header {
    &__phone {
      margin-top: 10%;
    }
  }

  .footer {
    &__left {
      max-width: 73%;
    }
    &__wrapper {
      max-width: 400px;
    }
  }
}
@media screen and (max-width: 860px) {
  .header {
    border-radius: 0%;
    background: linear-gradient(
        180deg,
        #ffb341 -41.15%,
        #fdc643 16.04%,
        #fbd745 67.51%
      ),
      #fbd745 !important;
    &__inner {
      padding: 0;
    }
    &__top {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;
      padding: 17px 10px;
    }
    #header-menu {
      display: block;
    }
    .header-nav {
      padding-left: 0;
      &.active {
        display: block;
        position: absolute;
        top: 0;
        .header-nav {
          &__list {
            position: fixed;
            left: 0;
            z-index: 99;
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 242px;
            background-color: #ffb341;
            top: 78px;
            padding: 30px 0;
          }
          &__item {
            text-align: center;
          }
        }
      }
    }
    &__top {
      justify-content: space-between;
      background-color: $orange--header;
    }
    &-logo {
      width: 130px;
    }
    &-nav {
      display: none;
    }
    &-language {
      width: 60px;
      &__popup {
        border: none;
      }
    }
    &__bottom {
      flex-direction: column;
      margin-top: 120px;
    }
    &__appstore {
      order: 2;
    }
    &__google {
      order: 1;
    }
    &__heading {
      padding-top: 0;
      text-align: center;
      margin: 0 auto;
    }
    &__buttons {
      max-width: 263px;
      margin: 30px auto 0 auto;
    }
    &__title {
      font-size: 30px;
      line-height: 34px;
    }
    &__text {
      font-size: 18px;
      line-height: 22px;
    }
    &__phone {
      margin-top: 27px;
    }
    .phone-header {
      &__img {
        margin: 0 auto;
      }
    }
    .appstore__image {
      background: url("../../images/header/appstore-mobile.png") no-repeat
        center center / cover;
      width: 120px;
      height: 40px;
    }
    .google__image {
      background: url("../../images/header/google-mobile.png") no-repeat center
        center / cover;
      width: 135px;
      height: 40px;
    }
  }
  .features {
    &__inner {
      padding: 25px 0 58px 0;
    }
    &__heading {
      max-width: 240px;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__body {
      margin-top: 28px;
    }
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 280px));
    }
    &__item {
      align-items: center;
    }
    &__text {
      margin-left: 15px;
    }
    &::after {
      display: none;
    }
  }
  .how {
    &::after {
      display: none;
    }
    &__inner {
      padding: 37px 0 95px 0;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__registration {
      margin-top: 36px;
    }
    .registration-how {
      background-position-y: 2%;
    }
    .body-how {
      .top-how {
        flex-direction: column;
        align-items: center;
        &__buy {
          order: 2;
        }
        &__phone {
          order: 1;
          margin-top: 20px;
        }
        &__sell {
          order: 3;
        }
        &__buy,
        &__sell {
          min-height: auto;
          margin-top: 25px;
        }
      }
      .bottom-how {
        margin-top: 25px;
      }
    }
  }

  .subscribe {
    padding: 34px 0 40px 0;

    &__participation {
      max-width: 280px;
      margin: 0 auto;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &-notification {
      width: 100%;
      padding: 12px 11px 21px 11px;
      align-items: flex-start;
      &__icon {
        width: 48px;
      }
      &__text {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__text {
      display: none;
    }
    &__list {
      // grid-gap: 0;
      justify-content: center;
    }
    &__item {
      padding: 31px;
      background-color: $white;
      box-shadow: none;
      &:nth-child(3) {
        color: $white;
      }
    }
    &-item {
      &__list {
        padding-left: 10px !important;
      }
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 28px;
      li {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $purple;
      }
      li + li {
        margin-left: 15px;
      }
      .slick-active {
        width: 12px;
        height: 12px;
      }
    }
    .slick-dots li button {
      text-indent: -9999px;
      overflow: hidden;
      border: none;

      padding: 0;
    }
  }
  .partners {
    padding: 39px 10px 65px 10px;
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__item {
      margin-left: 0;
      padding: 0 15px;
    }
    &__slider {
      margin-top: 70px;
    }
    .slick-slider {
      width: calc(100% - 20px);
      margin: 0 auto;
    }
    .slick-dots {
      margin-top: 40px;
    }
  }
  .footer {
    position: static;
    border-radius: 0%;
    width: auto;
    height: 320px;
    text-align: center;
    padding: 40px 0 33px 0;
    &__body,
    &__left,
    &__wrapper {
      flex-direction: column;
    }
    &__wrapper {
      margin-top: 55px;
    }
    &__rules {
      margin-top: 30px;
    }
    &__right {
      margin-top: 60px;
    }
    &-language {
      &__popup {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .header {
    .phone-header {
      padding: 0 15px;
    }
  }
  .partners {
    &__item {
      max-width: calc(100% - 40px);
    }
  }
}
