@font-face {
    font-family: "Lato";
    src: url("../../fonts/Lato-Regular.woff") format("woff"),
      url("../../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  body{
      font-family: Lato;
      font-size: 18px;
  }